

body{
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', Helvetica, sans-serif;
 
}
div,form,ul,ol,li,span,p {
    margin:0;
    padding:0;
    border:0;
}
img,a img{
    border:0;
    margin:0;
    padding:0;
}
h1,h2,h3,h4,h5,h6{
    margin:0;
    padding:0;
    font-weight:normal;
}
ul,ol,li{
    list-style:none
}
a{
    outline-style:none;
    
    text-decoration:none
}
a:visited,a:link {

  color: #333;
}
a:active {

  color: #666;
}
a:hover{
  color:blue;
    
}


/*Uniform default style*/
 
@media (max-width: 660px) {

    .wrapper {

     width: 430px;
     margin: auto;

    }
     .banner {
   display: none;
    }
 
   
    .logo {
      display: block;
      height: 30px;
      width: 110px;
       padding-left: 10px;
 
 
     }
  


    .nav {
    height: 30px;
    background-color: #D9D9D9;

    }
    .cart-960 {
      display: none;


    }


  



    .topnav {

      display: flex;
      justify-content:space-between;
      flex-wrap: wrap;
    }

  
   .cart-430  {
    padding-top: 15px;
    justify-self: flex-end;
    margin-right: 10px;
     
   }
   
   .ring-430 {
   


     justify-content: flex-end;
     padding-top: 15px;
     margin-left: 200px;
   }












    .topnav ul {
       width: 430px;
       
       margin-top: 10px;
      display: flex;
      flex-direction: column;
      text-align: center;
      
      }
.topnav li a {



    color: #369;
    text-decoration: none;
    transition:background-color 1s;
    display: block;
    padding: 0.75rem;
    background-color: #ccc;
    margin: 1px;


}

 .topnav ul li a:hover {
  
      color: #900;
      background: #fff;
      
  }
  
  .title {
    margin-top: 20px;
    height: 30px;
   display: flex;
   justify-content:space-between;
   border-bottom:solid 1px;
 }
 .title h6 {
   justify-content: flex-start;
   font-weight: bold;
   font-size: 1rem;
   margin-left: 30px;
 }
 
 .more {
 
   justify-self: flex-end;
   margin-right: 30px;
 }
 .maincontent {
  width: 430px;
  margin-top: 20px;

 } 
 .popularity_content {
  width: 430px;
    margin-top: 30px;
   display: flex;
   flex-direction: row ;
   justify-content: space-around;
   flex-wrap: wrap;
 
 }
 
 .popularity {

  margin-top: 10px;

 }
 .popularity h2 {
    font-size: 16px;
    display: flex;
    justify-content: center;
    
    
 
 }


 .popularity img {


  width: 170px;
  height: 132px;
 }

  }
  
  







@media (min-width: 670px) {

  .wrapper {
  
    width: 950px;
    margin: auto;

   }

  
.logo {

display: block;
padding-left: 100px;

}
.topnav span {
  
  margin-left: 50px;
  
}
  .topnav {
  
    display: flex;
    width: 950px;
    height: 50px;
   
  }
  .topnav ul {
   
    list-style: none;
    width: 600px;
    display: flex;
    flex-wrap: wrap; 
    margin: 0;
    padding: 0;
  }
  
  .topnav ul li {
    padding-top: 20px;
    flex: 1;
    text-align: center; 
    font-weight: bold;
    font-size: 18px;
  }
  .topnav span {
     float: right;
    padding-top: 10px;

  }
  .header .logo {
    margin-top: 5px;
  }
  .ring-430,.cart-430 {

  display: none;

  }
  .cart-960 {

    margin-top: 10px;
  }
  
/* main content star */
.maincontent {

 margin-top: 20px;

}
.title {
  
   height: 30px;
  display: flex;
  justify-content:space-between;
  border-bottom:solid 1px;
}
.title h6 {
  justify-content: flex-start;
  font-weight: bold;
  font-size: 1rem;
  margin-left: 50px;
}

.more {

  justify-self: flex-end;
  margin-right: 50px;
}
.popularity_content {
   margin-top: 30px;
  display: flex;
  flex-direction: row ;
  flex-wrap: wrap;
  justify-content: space-around;

}
.popularity {

margin-top: 10px;
margin-bottom: 10px;

}
.popularity h2 {
   font-size: 18px;
   display: flex;
   justify-content: center;
   

}

.popularity img {


  width: 250px;
  height: 125px;
 }










  
}


   